NodeRed_Flow.json
[
    {
        "id": "a40c40a5.d679d",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97f95de6.c3dcc",
        "type": "tcp out",
        "z": "a40c40a5.d679d",
        "name": "",
        "host": "192.168.254.254",
        "port": "9100",
        "beserver": "client",
        "base64": false,
        "end": false,
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "daff762c.5cb268",
        "type": "inject",
        "z": "a40c40a5.d679d",
        "name": "simple test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "^XA ^FO50,50^ADN,36,20^FDThe_Zebra_Test ^FS ^XZ",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "97f95de6.c3dcc"
            ]
        ]
    },
    {
        "id": "9796b38f.ea0aa",
        "type": "inject",
        "z": "a40c40a5.d679d",
        "name": "Sample stiker",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "^XA  ^FX Top section with logo, name and address. ^CF0,60 ^FO50,50^GB100,100,100^FS ^FO75,75^FR^GB100,100,100^FS ^FO93,93^GB40,40,40^FS ^FO220,50^FDIntershipping, Inc.^FS ^CF0,30 ^FO220,115^FD1000 Shipping Lane^FS ^FO220,155^FDShelbyville TN 38102^FS ^FO220,195^FDUnited States (USA)^FS ^FO50,250^GB700,3,3^FS  ^FX Second section with recipient address and permit information. ^CFA,30 ^FO50,300^FDJohn Doe^FS ^FO50,340^FD100 Main Street^FS ^FO50,380^FDSpringfield TN 39021^FS ^FO50,420^FDUnited States (USA)^FS ^CFA,15 ^FO600,300^GB150,150,3^FS ^FO638,340^FDPermit^FS ^FO638,390^FD123456^FS ^FO50,500^GB700,3,3^FS  ^FX Third section with bar code. ^BY5,2,270 ^FO100,550^BC^FD12345678^FS  ^FX Fourth section (the two boxes on the bottom). ^FO50,900^GB700,250,3^FS ^FO400,900^GB3,250,3^FS ^CF0,40 ^FO100,960^FDCtr. X34B-1^FS ^FO100,1010^FDREF1 F00B47^FS ^FO100,1060^FDREF2 BL4H8^FS ^CF0,190 ^FO470,955^FDCA^FS  ^XZ",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "97f95de6.c3dcc"
            ]
        ]
    },
    {
        "id": "668c4b75.6f7c14",
        "type": "inject",
        "z": "a40c40a5.d679d",
        "name": "Zebra Logo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "^XA  ^FO50,50^GFA,4200,4200,40,,:::::::R0E,R0F8,R0FE,R0FF,M0FJ0FF,L01F8I0FF8,L03F8I0FF8,L03FCI0FF8,L01FFI0FFC,M0FF800FFC,M07FC00FFC,M03FC00FFC,J01801FF00FFC,J01C00FF80FF8,J03E007FC0FF8,J03F003FC0FF,J07F801FE0FF,J03FC00FF8FE,J03FE007FCF8,J01FF003IF8,K0FF801IF8,K07FC00JFCR03LFE1LFC1KFCI07JFEL03IF8,K03FE007IFER07LFC1LFC1LF8007KFCK03IF8,K01FF007JFR0MFC1LFC1LFE007LFK03IFC,I0200FF807JF8Q0MF81LFC1MF007LF8J07IFC,I03007FC07JF8P01MF81LFC1MF807LFCJ07IFC,I03803FE07JFCP01MF01LFC1MF807LFEJ0JFE,I03C01FE07FT03MF01LFC1MFC07MFJ0JFE,I07E00FE07F02R03LFE01LFC1MFC07MF8I0JFE,I07F00FE07F03R03LFE01LF81FFC0IFE07MF8I0KF,I07F80FE07F038U07FFC01FFEJ01FFC03FFE07FF01IF8001KF,I03FC0FE07F03CU07FFC01FFCJ01FFC01FFE07FF00IF8001KF,I01FE0FE07F03EU07FF801FFCJ01FFC01FFE07FF007FFC001KF8,J0FF0FE07F03F7F8R0IF801FFCJ01FFC00FFE07FF003FFC003KF8,J07F8FE07F03F7FER0IF001FFCJ01FFC00FFE07FF003FFC003KF8,J03FCFE07F03F3FFQ01IF001FFCJ01FFC00FFE07FF001FFC003FFBFFC,J01FEFE07F03F1FF8P01FFE001FFCJ01FFC01FFE07FF001FFC007FFBFFC,K0IFE07F03F0FFCP03FFE001FFCJ01FFC01FFC07FF001FFC007FF3FFC,K0IFE07F03F07FCP07FFC001FFEJ01FFC03FFC07FF003FFC007FF1FFE,K07FFE07F03F03FCP07FFC001LF81FFC0IF807FF003FFC00IF1FFE,K03FFE07F03FT07FF8001LFC1MF807FF007FF800IF1FFE,I0401FFE07F03F01R0IF8001LFC1MF007FF00IF800FFE0IF,I0700FFE07F03F018Q0IFI01LFC1LFC007FF07IF801FFE0IF,I07807FE07F03F01CP01IFI01LFC1LF8007MF001FFC07FF,I07C03FE07F03F01EP01FFEI01LFC1LF8007MF001FFC07FF8,I07E01FE07F03F01FP03FFEI01LFC1LFE007LFE003FFC07FF8,I07F00FE07F03F01F8O07FFCI01LFC1MF807LFC003FFC07FF8,I07F807E07F03F01F8O07FFCI01LF81MF807LF8003FF803FFC,I07FC03E07F03F01F8O0IF8I01FFEJ01FFC07FFC07LFI07FFC07FFC,I03FE01E07F03F01F8O0IF8I01FFCJ01FFC01FFE07KFCI07MFC,I01FF00E07F03F01F81FCK01IFJ01FFCJ01FFC00FFE07FF7FFCI07MFE,J0FF80607F03F01F81FEK01FFEJ01FFCJ01FFC00FFE07FF7FFCI07MFE,J07FCI07F03F01F81FFK03FFEJ01FFCJ01FFC00FFE07FF3FFEI0NFE,J03FEI07F03F01F81FF8J03FFCJ01FFCJ01FFC00IF07FF3FFEI0OF,J01FFI07F03F01F81FFCJ07FFCJ01FFCJ01FFC00IF07FF1IF001OF,K0FFI07F03F01F81FFEJ07FF8J01FFCJ01FFC00IF07FF1IF001OF,K07FC007F03F01F81IFJ0IF8J01FFCJ01FFC00IF07FF0IF801OF,K03FE007F01E01F01IF8I0IF8J01FFEJ01FFC01IF07FF07FFC03OF8,K01FF007F8K07JF8001MF81LF81FFC07FFE07FF07FFC03FFCI07FF8,K01FF003FCK07JF8001MF81LFC1MFE07FF03FFE03FF8I07FF8,L07F803FEK07JF8003MF01LFC1MFE07FF03IF07FF8I03FFC,L03FE01FFK03JF8003MF01LFC1MFC07FF01IF07FF8I03FFC,L01FF00FF8J03JFI07LFE01LFC1MF807FF01IF87FFJ03FFC,M0FF807FCJ01JFI07LFE01LFC1MF807FF00IF87FFJ01FFE,M0FF803FCK0IFEI0MFC01LFC1MF007FF007FFCIFJ01FFE,M07FC01FCK07FFCI0MF801LFC1LF8007FF007FFCIFJ01FFE,M01FE00FCK03FF8I0MF800LF81KFCI07FE003FFCFFEK0FFE,N0FF807CL0FE,N0FFC03C,N07FC01C,N03FE00C,O0FF,O07F8,O07FC,O03FE,O01FF,P0FF8,P07FC,P03FE,P01FF,Q0FF8,Q07FC,Q03FC,Q01FC,R0FC,R07C,R03C,R01C,S08,,:::::::^FS       ^XZ",
        "payloadType": "str",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "97f95de6.c3dcc"
            ]
        ]
    },
    {
        "id": "9c1ff381.05493",
        "type": "inject",
        "z": "a40c40a5.d679d",
        "name": "Date test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CT~~CD,~CC^~CT~ ^XA~TA012~JSN^LT0^LH0,0^JMA^PR4,4~SD15^LRN^CI0^XZ ~DG000.GRF,07680,024,,[image data] ^XA ^LS0 ^SL0 ^BY3,3,91^FT35,250^BCN,,Y,N^FC%,{,#^FD%d/%m/%Y^FS ^BY3,3,91^FT35,250^BCN,,Y,N^FC%,{,#^FD%d/%m/%Y^FS ^FT608,325^XG000.GRF,1,1^FS ^FT26,75^A0N,28,28^FH\\^FDThis label was printed from a format stored^FS ^FT26,125^A0N,28,28^FH\\^FDon a USB Flash Memory drive. ^FS ^BY3,3,90^FT33,425^BCN,,Y,N ^FD>:Zebra Technologies^FS ^PQ1,0,1,Y^XZ ^XA^ID000.GRF^FS^XZ",
        "payloadType": "str",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "97f95de6.c3dcc"
            ]
        ]
    },
    {
        "id": "ade9b692.ead238",
        "type": "inject",
        "z": "a40c40a5.d679d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "~HQES",
        "payloadType": "str",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "f0a298b5.a31e88"
            ]
        ]
    },
    {
        "id": "f0a298b5.a31e88",
        "type": "tcp request",
        "z": "a40c40a5.d679d",
        "name": "",
        "server": "192.168.254.254",
        "port": "9100",
        "out": "time",
        "ret": "buffer",
        "splitc": "100",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "8fa8384a.f3eea8"
            ]
        ]
    },
    {
        "id": "8fa8384a.f3eea8",
        "type": "base64",
        "z": "a40c40a5.d679d",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 800,
        "y": 400,
        "wires": [
            [
                "9928be23.200ac",
                "14f52172.c7320f"
            ]
        ]
    },
    {
        "id": "90a25767.502e38",
        "type": "debug",
        "z": "a40c40a5.d679d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "9928be23.200ac",
        "type": "function",
        "z": "a40c40a5.d679d",
        "name": "",
        "func": "var test=\"Ag0KDQogIFNUQVRVUyBEQSBJTVBSRVNTT1JBICAgICAgICAgICAgICAgICAgICAgIA0KICAgRVJST1M6ICAgICAgICAgIDAgMDAwMDAwMDAgMDAwMDAwMDAgICAgICANCiAgIEFWSVNPUzogICAgICAgICAwIDAwMDAwMDAwIDAwMDAwMDAwICAgICAgDQoD\";\n\n \nif (test===msg.payload) {\n  msg.payload = \"1\";\n} \nelse\n    {msg.payload = \"0\";\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "90a25767.502e38"
            ]
        ]
    },
    {
        "id": "14f52172.c7320f",
        "type": "base64",
        "z": "a40c40a5.d679d",
        "name": "",
        "action": "b64",
        "property": "payload",
        "x": 780,
        "y": 540,
        "wires": [
            [
                "60c7e9e5.3f0b38"
            ]
        ]
    },
    {
        "id": "b5b7d638.42d408",
        "type": "inject",
        "z": "a40c40a5.d679d",
        "name": "Sample Response",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ag0KDQogIFNUQVRVUyBEQSBJTVBSRVNTT1JBICAgICAgICAgICAgICAgICAgICAgIA0KICAgRVJST1M6ICAgICAgICAgIDAgMDAwMDAwMDAgMDAwMDAwMDAgICAgICANCiAgIEFWSVNPUzogICAgICAgICAwIDAwMDAwMDAwIDAwMDAwMDAwICAgICAgDQoD",
        "payloadType": "str",
        "x": 530,
        "y": 540,
        "wires": [
            [
                "14f52172.c7320f"
            ]
        ]
    },
    {
        "id": "60c7e9e5.3f0b38",
        "type": "debug",
        "z": "a40c40a5.d679d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "9c976bb0.0f9ee8",
        "type": "comment",
        "z": "a40c40a5.d679d",
        "name": "Sticker Generator Link: http://labelary.com/viewer.html",
        "info": "http://labelary.com/viewer.html",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "ed5aea20.2a1608",
        "type": "comment",
        "z": "a40c40a5.d679d",
        "name": "Request Machine Status",
        "info": "",
        "x": 210,
        "y": 440,
        "wires": []
    },
    {
        "id": "1e2eddd0.425372",
        "type": "comment",
        "z": "a40c40a5.d679d",
        "name": "Test Messages",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "225d947841184d0c",
        "type": "comment",
        "z": "a40c40a5.d679d",
        "name": "Machine Status Request",
        "info": "",
        "x": 730,
        "y": 340,
        "wires": []
    }
]